<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269669104910-03bb8oonqp2rp0paeqm22nnt9p9h13dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269669104910-03bb8oonqp2rp0paeqm22nnt9p9h13dc</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ-Ou9tPZf_iU9JrUfwevL0OGk0GlzEHc</string>
	<key>GCM_SENDER_ID</key>
	<string>269669104910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sapekderas</string>
	<key>PROJECT_ID</key>
	<string>sapekderas</string>
	<key>STORAGE_BUCKET</key>
	<string>sapekderas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269669104910:ios:403a6f17e69c0291972b5f</string>
</dict>
</plist>